<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans classpath:/org/springframework/beans/factory/xml/spring-beans-2.5.xsd">
<import resource="applicationContext.xml"/>
	<bean id="userService"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="target">
			<bean class="service.UserServiceimp">
				<property name="entityDaoI" ref="entityDao" />
			</bean>
		</property>
		<property name="transactionManager" ref="transactionManager" />
		<property name="transactionAttributes">
			<props>
				<prop key="update*">
					PROPAGATION_SUPPORTS,ISOLATION_SERIALIZABLE
				</prop>
				<prop key="del*">
					PROPAGATION_SUPPORTS,ISOLATION_SERIALIZABLE
				</prop>
				<prop key="add*">
					PROPAGATION_SUPPORTS,ISOLATION_SERIALIZABLE
				</prop>
			</props>
		</property>
	</bean>
	<bean name="userAction" class="control.UserAction" scope="prototype">
		<property name="userServiceI" ref="userService"/>
			<property name="user" ref="user"/>
			<property name="pageInfo" ref="pageInfo"/>
	</bean>
	<bean name="user" class="enity.User" scope="prototype"/>
</beans>